.button-save-film {
  width: 72px;
  height: 21px;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  background-color: #313131;
  /* display: none; */
}
